.mainDisplayDiv{
  
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 33px;
    flex-wrap: wrap;

}
.containerBox1 {
    display: flex;
    flex-direction: column;
    height: 150px;
  }
  .containBox {
    width: 296px;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 8px;
    border-color: #e0e0e0;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 2px 6px 2px rgba(60, 64, 67, 0.149);
    font-family: 'Roboto', arial, sans-serif;
    font-size: 15px;
    margin: 6px;
  }
  .note2 {
    height: 90px;
  }
  .pd {
    letter-spacing: .00625em;
    padding: 10px 15px 12px 15px;
    height: 24px;
  }
  
  .title {
    display: flex;
  }
  .note {
    flex-grow: 1;
  }
  