.mainbar {
  background-color: rgb(255, 255, 255, 10);
  border: solid lightgray 1px;
  border-radius: 6px;
  width: 100%;
  height: 60px;



}

.menubar {
  float: left;
  margin-top: 13px;
  margin-left: 19px;
  margin-right: 7px;
}

.picture {
  float: left;
  margin-left: 10px;
  margin-top: 6px;

}

.headerTitle {
  margin: 1%;
  color: #5f6368;
  font-size: 22px;
  font-family: 'Product Sans', Arial, sans-serif;
  float: left;
  margin-right: 80px;
}

.search {
  height: 75%;
  width: 50%;
  display: flex;
  align-items: center;
  background-color: rgb(238, 238, 238);
  border-radius: 5px;
  margin-top: 7px;
}

.searchIcon {
  margin: 2%;
}

.insideSearch {
  font-size: medium;
}


.buttonContainer {
  // border: solid;
  margin-left: 700px;

}

.button {
  position: relative;
  left: 5px;
}

.appsContainer {
  margin-left: 35px;
}



.opt {
  width: 200px;
  height: 35px;
  // border: solid 1px gray;
  text-decoration: none;
  color: black;
  padding: 10px;
  margin-left: 5px;
  display: block;
  font-size: 14px;
  text-align: left;
  border-radius: 0px 25px 25px 0px;
  font-weight: 500;

}

.notes:hover {
  background: rgb(243, 223, 113);
}

.fa {
  margin-right: 20px;
  font-size: 26px !important;
  width: 20px;
  // border: solid;
  height: 20px;

}
.notes{

  height: 42px;
  //border:solid;
  width: 100%;
  text-align: left;
  border-radius: 0px 25px 25px 0px;
  line-height: 1.75;
}
.notes img{
  margin-left: 20px;
  //margin-top: 25px;
  padding-top: 10px;
  display: inline;
  
}
.noteContent{
  margin-left: 35px;
  display: inline;
  //margin-top: -10px;
  //height: 42px;
}
.sideBar{
  float:left ;
  width: 260px;
  //margin-left: 15px;
  margin-top: 10px;
}
.infoContent{
width: 60%;
height: 210px;
float: left;
//border: solid;
}
.infoBox{
height: 150px;
width: 80%;
position: relative;

margin: 30px auto;
border-radius: 15px;
box-shadow: 2px 2px 3px 2px lightgray;
}
#takeNote{
  //border: solid;
  display: block;
  width: 500px;
  margin-right: 100px;
  
}
#titleNote{
//border: solid;
display: block;
width: 400px;
margin-right: 200px;

}
.pinImage{
  height: 25px;
  width: 25px;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1;
  

}
.pinImage:hover{

  cursor: pointer;
  opacity: 0.75;
  border: solid 1px lightgray;

}
.iconBox{
  //border: solid;
  height: 22px;
  margin-top: 20px;
}
.allIcon{
  margin: 5px 20px;
  float: left;

}
.allIcon:hover{
  background-color: lightgray;

}
.closeIcon{
padding-right: 50px;
}
.infoContent1{
  width: 60%;
  height: 250px;
  float: left;
 // border: solid;
  }
  .infoBox1{
    height: 170px;
    width: 45%;
    position: relative;
    padding: 0 15px;
    
    margin: 30px auto;
    border-radius: 15px;
    box-shadow: 2px 2px 3px 2px lightgray;
    }
    .iconBox1{
     // border: solid;
      height: 23px;

     // margin-top: 20px;
     // margin-bottom: 10px;
    }
    .allIcon1{
      margin:  0px 18px;
      //float: left;
      margin-bottom: 10px;
      padding-top: 50px;
    
    }
    *{
      margin : 0;
      padding: 0;
      box-sizing : border-box;
      //overflow: hidden;
      }

