.mainBox {
    border: solid lightgray 1px;
    border-radius: 8px;
    width: 450px;
    height: 450px;
    top: 70%;
    left: 30%;
    margin-left: 400px;
    margin-top: 110px;

}
.app_name{
    padding-top: 23px;
}

#filled-required {
    border: solid rgb(7, 152, 248);
    width: 350px;
    height: 25px;
    border-radius: 8px;
    background: white;
}

.forgot-email {

    text-align: left;
    margin-left: 34px;
    color: rgb(7, 152, 248);
    margin-top: 10px;
}

.create-Account button {
    margin-left: 310px;
    height: 35px;
    width: 75px;
    margin-top: -10px;
    background: rgb(7, 152, 248);
    border-radius: 5px;
    color: white;
    border: none;

}

.account-Recovery {
    line-height: 1;
    font-weight: 500;
    font-size: 20px;
    margin-top: -20x;
    position: absolute;
    top: 180px;
    left: 550px;
    color: rgb(78, 76, 78);




}