.mainBox-Forget {
    border: solid lightgray 1px;
    border-radius: 8px;
    width: 50%;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.app_name {
    font-size: 25px;
}
.mainBox-forgetpassword-inside{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
}


#filled-required-Forget {
    border: solid rgb(7, 152, 248);
    border-radius: 8px;
    background: white;
    width: 300px;
}

.forgot-email {

    text-align: left;
    margin-left: 34px;
    color: rgb(7, 152, 248);
    margin-top: 10px;
}

.create-Account button {
    height: 35px;
    width: 75px;
    background: rgb(7, 152, 248);
    border-radius: 5px;
    color: white;
    border: none;

}
.create-Account {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}


.account-Recovery {
   
    font-size: 20px;
}
.useAccount-Forget{
    padding: 20px 0px;
}