.login-main-container{
    border: solid lightgray 1px;
    border-radius: 8px;
    width: 450px;
    height: 500px;
    //top: 70%;
    //left: 30%;
    //margin-left: 400px;
    //margin-top: 110px;
    margin: 5% auto;
}
.mainBoxLogin {
    border: solid lightgray 1px;
    border-radius: 8px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 30px;

}

.signin {
    font-size: 20px;
    text-align: center;

    
}

#filled-required-Login {
    border: 1px solid #aaa;
    border-radius: 8px;
    background: white;
}
.login-field-div{
    padding: 10px 0px;
}

.labelName {
    position: relative;
    top: 10px;
    right: 120px;
    z-index: 1;
    background: white;
    color: rgb(7, 152, 248);
    padding: 0 4px;
}

.forgot-email-Login {

    text-align: left;
    margin-left: 34px;
    color: rgb(7, 152, 248);
    margin-top: 10px;
}

.desc-Login {
    margin-top: 10px;
    color: #4e4c4e;
    font-size: 14px;

}

.desc a {
    text-decoration: none;
    color: rgb(7, 152, 248);
}

.create-Account-Login {
    color: #0798f8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;

}

.create-Account-Login button {
       /* margin-left: 310px; */
       height: 35px;
       width: 75px;
       /* margin-top: -10px; */
       background: #0798f8;
       border-radius: 5px;
       color: white;
       border: none;

}

.inside {

    display: inline-block;
    margin: 15px;
    color: rgb(78, 76, 78);
    font-size: 14px;

}

.inside1 {
    display: inline-block;
    margin: 15px 105px 15px -105px;
    color: rgb(78, 76, 78);
    font-size: 14px;
}
.useAccount{
    padding: 20px 0px;
}