.registration-main{
    border: solid lightgray 1px;
    border-radius: 8px;
    width: 500px;
    height: 550px;
    //top: 70%;
    //left: 30%;
    //margin-left: 400px;
    //margin-top: 110px;
    margin: 5% auto;
}
.mainBox1 {
    border: solid lightgray 1px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 20px;
}
.register-logo-main{
    width: 100px;
}

.mainLogo {
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}

.desc-Account {

    color: black;
    font-size: 22px;
}
.userInfoLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}
.userInfo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

#outlined-basic1,
#outlined-basic2,
#outlined-basic4,
#outlined-basic5 {
    width: 180px;
    border: solid 1px gray;
    display: inline;
    margin-right: 15px;
    padding-left: 10px;
    border-radius: 5px;
}

#outlined-basic3 {
    width: 390px;
    border: solid 1px gray;
    display: inline;
    margin-right: 15px;
    padding-left: 10px;
    border-radius: 5px;
}

.create-Account1 {
    text-align: left;
    color: rgb(7, 152, 248);
    font-weight: 500;
    margin: 0 0 35px 25px;


}

.a {

    margin-top: 10px;

    font-size: 14px;
}

// .userInf {
//     width: 450px;
// }

.inputCheckBox {

    margin-top: 10px;
    width: 180px;

}
