.mainBox1 {
    border: solid lightgray 1px;
    border-radius: 8px;
    width: 650px;
    height: 550px;
    top: 70%;
    left: 30%;
    margin-left: 400px;
    margin-top: 70px;

}

.mainLogo {
    float: left;
    margin-left: 30px;
    margin-top: 15px;
    font-size: 30px;
}

.desc-Account {
    margin-top: 0px;
    margin-left: 25px;
    text-align: left;
    //border: solid;
    color: black;
    font-weight: 600;
    font-size: 22px;
    clear: left;
}

.userInfo {
    margin-top: -250px;
    height: auto;
    width: 450px;


}

.userInfoLogo {
    margin-top: 5px;
    padding-left: 450px;
    height: 250px;
    width: 200px;



}

#outlined-basic1,
#outlined-basic2,
#outlined-basic4,
#outlined-basic5 {
    width: 180px;
    border: solid 1px gray;
    display: inline;
    margin-right: 15px;
    padding-left: 10px;
    border-radius: 5px;
}

#outlined-basic3 {
    width: 390px;
    border: solid 1px gray;
    display: inline;
    margin-right: 15px;
    padding-left: 10px;
    border-radius: 5px;
}

.create-Account1 {
    text-align: left;
    color: rgb(7, 152, 248);
    font-weight: 500;
    margin: 0 0 35px 25px;


}

.a {
    line-height: 0.5;
    text-align: left;
    margin-left: 34px;
    margin-top: 10px;
    color: rgb(78, 76, 78);
    font-weight: 390;
    font-size: 14px;
}

.userInf {
    width: 450px;
}

.inputCheckBox {

    margin-top: 10px;
    width: 180px;

}